@using System.Web.Mvc.Html;
@using System.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Для обращения к api используйте запрос HTTP GET вида @string.Format("{0}{1}", @ViewBag.Dir, @Url.RouteUrl(new { controller = "api/ClaimReport", dateBeg = "20170512", dateEnd = "20170513", country = 0, claimIncs = "95081,95056" }))
    </p>
    <p>
        Параметры строки запроса:
    </p>
    <ul>
        <li>
            dateBeg - дата начала тура с. Формат ГГГГММДД. Обязательный параметр.
        </li>
        <li>
            dateEnd - дата начала тура по. Формат ГГГГММДД. Необязательный параметр. Если не передается или передается пустая строка будут выведены заявки, у которых начало тура равно dateBeg.
         </li>
            <li>
                country - inc(id) страны. Целое. Необязательный параметр. Если не передается, или передается 0 выводятся заявки по всем странам.<br />
            </li>
            <li>
                claimIncs - список номеров заявок. Строка из целых, разделенных запятыми. Необязательный параметр. Если не передан, или передана пустая строка возвращаются все заявки.
            </li>
    </ul>
    <p>
        Результат возврашается в виде JSON.
    </p>
</body>
</html>
